#artikel h1 {
    font-weight: bold;
    margin-top: 100px;
}

#artikel a {
    text-decoration: none;
}

#artikel .item-artikel {
    background-color: #4444;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#artikel .item-artikel .item-img {
    align-self: start;
    width: 100%;
    height: 60%;
    background-color: black;
    background-size: cover;
}

#artikel .item-artikel .item-text {
    padding: 10px;
}

#artikel .item-artikel .item-text h5 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

#artikel .item-artikel .item-text p {
    font-size: 14px;
    color: #545454;
}

#artikel .item-artikel.add {
    justify-content: center;
    align-items: center;
}

#artikel .item-artikel.add img {
    width: 100px;
}
