#donasi {
    background-color: var(--hijau-tua);
}



#donasi #hero {
    height: 350px;
    background-image: url('../img/hero.png');
    background-size: cover;
    padding-top: 50px;
}

#donasi #hero .title {
    color: var(--cokelat-muda);
    font-size: 50px;
    font-weight: 800;
}

#donasi #hero .subtitle {
    color: #D7C39D;
    font-size: 18px;
}


#donasi #form {
    padding: 40px 0px;
}

#donasi #form .form-group {
    padding-bottom: 10px;
}

#donasi #form .form-group label {
    color: #D7C39D;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

#donasi #form .line {
    background-color: var(--white-accent);
    height: 2px;
    margin: 50px 0px;
}

.form-control:focus {
    border-color: var(--hijau-muda);
    box-shadow: 0 0 0 0.2rem var(--hijau-muda);
}

