:root {
    --hijau-tua: #395144;
    --hijau-muda: #4E6C50;
    --cokelat-tua: #AA8B56;
    --cokelat-muda: #F0EBCE;
    --white-accent: #D9D9D9;
}

* {
    font-family: 'Monserrat', sans-serif;
}

.navbar {
    background-color: var(--hijau-tua) !important;
    padding: 40px 0px;
}

.navbar .navbar-nav {
    gap: 100px;
}
.nav-item .nav-link {
    color: var(--cokelat-muda) !important;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


/* Button */
.primary-button {
    background-color: #443925;
    color: var(--cokelat-muda);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.primary-button:hover {
    color: var(--cokelat-muda);
}

.secondary-button {
    background-color: var(--cokelat-tua);
    color: var(--cokelat-muda);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.secondary-button:hover {
    color: var(--cokelat-muda);
}

/* Breadcrumb */
.breadcrumb {

}
.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color:  #D7C39D;
}

.breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb-item {
    color:  #D7C39D;
}



/* Timeline */
.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .progress {
    width: 40px;
    height: 40px;
    background-color: var(--white-accent);
    border: 4px solid var(--white-accent);
    border-radius: 50%;
}

.timeline .progress.active {
    background-color: transparent;
}

.timeline .progress-line {
    width: 100px;
    height: 4px;
    background-color: var(--white-accent);
}


#form {
    padding: 40px 0px;
}

#form .form-group {
    padding-bottom: 10px;
}

#form .form-group label {
    color: #D7C39D;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

#form .line {
    background-color: var(--white-accent);
    height: 2px;
    margin: 50px 0px;
}

.form-control:focus {
    border-color: var(--hijau-muda);
    box-shadow: 0 0 0 0.2rem var(--hijau-muda);
}

#hero {
    height: 350px;
    background-image: url('../img/hero.png');
    background-size: cover;
    padding-top: 50px;
}

#hero .title {
    color: var(--cokelat-muda);
    font-size: 50px;
    font-weight: 800;
}

#hero .subtitle {
    color: #D7C39D;
    font-size: 18px;
}

@media (max-width: 991.98px) { 

    .navbar .navbar-nav {
        gap: 20px;
    }

}